{
    "Machines": [
        {
            "name": "Human Readable",
            "id": 0,
            "controlType": "GRBL",
            "suffix": "For Identical Devices",
            "mac": "00-00-00-00-00-00"
        },
        {
            "name": "Ender 3 Neo",
            "id": 1,
            "controlType": "Marlin",
            "suffix": "Main",
            "mac": "00-00-00-00-00-00"
        },
        {
            "name": "Ender 3 Neo",
            "id": 2,
            "controlType": "Marlin",
            "suffix": "Secondary",
            "mac": "00-00-00-00-00-00"
        }
    ]
}