{
    "Machines": [
        {
            "name": "Human Readable",
            "id": 0,
            "controlType": "GRBL",
            "suffix": "For Identical Devices"
        },
        {
            "name": "Ender 3 Neo",
            "id": 1,
            "controlType": "Marlin",
            "suffix": "Main" 
        },
        {
            "name": "Ender 3 Neo",
            "id": 2,
            "controlType": "Marlin",
            "suffix": "Secondary" 
        }
    ]
}